/** @format */
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

:root {
  --main-color: #4aa35a;
}
body {
  margin: 0;
}

.auth-container {
  background-image: url(assets/images/main-bg-img.png);
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(47, 140, 51, 0.7));
}
.form-box {
  background-color: white;
}
.text-green {
  color: var(--main-color);
}
/* sidebar style */
.css-dip3t8 {
  margin-left: 0px;
  background-color: #1f263e !important;
  color: #fff;
  border-radius: 0rem 2.625rem 0rem 0rem;
}

/* .input-icon {
} */
.ps-menuitem-root {
}
.active,
.ps-menuitem-root a:hover {
  background: #4aa34f26 !important;
  border-left: 4px solid var(--main-color);
}
/*header-section*/
.header-section {
  background-image: url("./assets/images/Rectangle.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-section h1 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.header-section span {
  color: #dfe0e0;

  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-section p {
  width: 27rem;
  line-height: 1.5rem;
  color: #fff;
}
.user-pic {
  background-color: rgba(244, 206, 155, 1);
}
/* Modals */
.modal-dialog-centered {
}
